html, body {
  overflow-x: hidden; /* 가로 스크롤 방지 */
  background-color: white;
  width: 100%;

}

.about {
  overflow-x: hidden;
  width: 100%;
  background-color: white;
  font-family: Arial, sans-serif;
}

