.hero-section {
  width: auto;
  display: flex;
  flex-direction: column; /* 섹션을 세로로 나열 */
  justify-content: space-between; /* 상하 배치 조정 */
  align-items: center; /* 중앙 정렬 */
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 10px;
  text-align: left; /* 텍스트 중앙 정렬 */
}

.hero-content {
  display: flex;
  justify-content: space-between; /* 텍스트와 이미지를 좌우로 나란히 배치 */
  align-items: flex-start;
  width: 100%;
  max-width: 1440px; /* 전체 너비를 제한 */
}

.hero-text {
  flex: 1;
  margin-right: 40px; /* 텍스트와 이미지 사이 간격 추가 */
  font: Poppins, sans-serif;
  
}

.hero-text h1 {
  color: #000;
  letter-spacing: -0.96px;
  font: 500 39px Poppins, sans-serif;
  line-height: 64px;
}

.ux-designer {
  font-weight: 700;
  color: rgba(0, 127, 239, 1);
  animation: float-text 4s ease-in-out infinite;
}

.hero-internship {
  font: 400 24px/1 Poppins, sans-serif;
  color: #535353;
}

.hero-cta-button {
  font-size: 20px;
  width: 200px;
  margin-top: 50px;
  padding: 16px 32px;
  border-radius: 40px;
  background-color: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font: 20px, Inter, sans-serif;
}

.hero-cta-button:hover {
  background-color: rgba(0, 127, 239, 1);
}



.heroimage {
  width: 300px;
  border-radius: 300px;
  animation: float-image 4s ease-in-out infinite;
}

.down-button {

  margin-top: 10vh;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  animation: float 2s infinite ease-in-out;
  color: #000;
}

@media (max-width:991px) {

  .hero-section {
    width: auto;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .hero-content {
    flex-direction: column; /* 작은 화면에서는 텍스트와 이미지가 세로로 쌓이도록 설정 */
    align-items:center;
  }

  .hero-text {
margin-right: 0px;
  }

  .hero-text h1 {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -0.96px;
  }

  .hero-internship {
    font: 16px/1 "Inter", sans-serif;
  }

  .heroimage {
    width: 20vh;
    margin-top: 10vh;
    border-radius: 300px;
    animation: float-image 4s ease-in-out infinite;
    margin-bottom: 5vh;
  }
  .hero-cta-button {
    font-size: 14px;
    width: 150px;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 40px;
    background-color: black;
    color: white;
    cursor: pointer;
    font: 20px, Inter, sans-serif;
  }

  .down-button {
    display: none;
  }
}

@keyframes float {
  0%, 100% {
    transform: translate(-50%, 0); /* 시작과 끝 위치 */
  }
  50% {
    transform: translate(-50%, -10px); /* 중간 위치 (위로 살짝 올라감) */
  }
}

@keyframes float-image {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes float-text {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
