.project-paper{
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

}

.project-card-wrapper {
    padding: 0 40px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content:start; /* Centers the projects in the row */
    gap: 100px; /* Space between cards */
  }

  @media (max-width: 640px) {
    .project-paper{
        margin-top:50px;

    }

    .project-card-wrapper {
        
        gap: 2vh; /* Space between cards */
      }
}


  @media (max-width: 991px) {
    .project-paper{
        margin-top:50px;

    }

    .project-card-wrapper {
        
        gap: 2vh; /* Space between cards */
      }
}